<h1>places i've been</h1>

<ul>
<% for place in @places%>
  <p>
    <a href="/place/<%= place["id"]%>"><%= place["name"] %></a>
  </li>
 <% end %>
</p>

<br>

<p> <a href="/place/new">New Place</a> </p>